@model Employee_Mnagement_System.Models.EmployeeModel

@{
    ViewData["Title"] = "Update Employee Data";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-6">
        <div class="shadow-sm p-2">
            <form asp-action="UpdateEmployee" enctype="multipart/form-data">

                <div class="mb-2">
                    <label asp-for="FirstName" class="form-label">First Name</label>
                    <input asp-for="FirstName" type="text" class="form-control" value="@Model.FirstName">
                </div>

                <div class="mb-2">
                    <label asp-for="LastName" class="form-label">Last Name</label>
                    <input asp-for="LastName" type="text" class="form-control" value="@Model.LastName">
                </div>

                <div class="mb-2">
                    <label asp-for="ContactNo" class="form-label">Contact No</label>
                    <input asp-for="ContactNo" type="tel" class="form-control" value="@Model.ContactNo">
                </div>

                <div class="mb-2">
                    <label asp-for="EmailId" class="form-label">Email</label>
                    <input asp-for="EmailId" type="email" class="form-control" value="@Model.EmailId">
                </div>

                <div class="mb-2">
                    <label asp-for="Age" class="form-label">Age</label>
                    <input asp-for="Age" type="number" class="form-control" value="@Model.Age">
                </div>

                <div class="mb-2">
                    <label asp-for="imageFile" class="form-label">Profile Image</label>
                    <input asp-for="imageFile" type="file" class="form-control">
                </div>

                <div class="mb-2">
                    <img class="rounded-circle" src="~/images/@Model.ProfileImage" width="30px" />
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>