@model List<EmployeeModel>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th>Contact No</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.EmailId</td>
                <td>@employee.ContactNo</td>
                <td>@employee.Age</td>
            </tr>
        }
    </tbody>
</table>